* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}



img {
  max-width: 100%;
  height: auto;
  display: block;
}

.header,
.footer {
  width: 100%;
  flex-wrap: nowrap;
  display: flex;
  
}

  .container {
  max-width: 1512px;
  margin: 0 auto;
  padding-left: 158.34px;
  padding-right: 158.34px;
  box-sizing: border-box;
}


    /* Header*/
.header{
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.header_search{
    display: flex;
     align-items: center;
     margin-top: 11px;
}
.header_nav{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 14px;
    
}
.header_logo{
    margin-left: 24px;
    
    margin-right: 40px;
    display: block;
}
.search-input {
    width: 300px;
    height: 42px;
    font-size: 16px;
  padding-left: 36px; 
  background-image: url('./images/Vector.svg'); 
  background-repeat: no-repeat;
  background-position: 8px center;
  border: 1px solid#D9D9D9;
 border-radius: 8px 0 0 8px;

}
.header_input{
    width: 254px;
    height: 42px;
    font-size: 16px;
    border: 1px solid#D9D9D9;
    padding-left: 17px;
    border-left: none; 
    border-right: none; 
}
.header_input::placeholder {
  color: #000000; 
  
}
.header_button{
    width: 42px;
    height: 42px;
     border-radius: 0 8px 8px 0;
     background-color: #F65858;
     border: 1px solid#D9D9D9;
     justify-items: center;
     border-left: none; 
}
.header_nav_log{
    width: 20px;
    height: 20px;
}
.header_link{
    width: 49.16px;
    margin-left: 4px;
    margin-right: 21.83px;
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    height: 20px;
}
.header_link_log{
    width: 41.16px;
    white-space: nowrap;
    margin-right: 21.83px;
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    height: 20px;

}
.header_nav_button{
    width: 83.12px;
    height: 36px;
    margin-right: 49.97px;
    background-color: #00798A;
    color: #FFFFFF;
    white-space: nowrap;
    border: none;
    border-radius: 8px;

}